/* BEGIN IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* END IMPORTS */

/* BEGIN CUSTOM PROPERTIES */

:root  {
    --primary: #e33333;
    --black: #1a1a1a;
}

/* END CUSTOM PROPERTIES */

/* BEGIN UTILITIES */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* END UTILITIES */

/* BEGIN BROWSER RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* END BROWSER RESET */

/* BEGIN FONT PROPERTIES
    - Minor Third Font Scale 
*/

h1 {
    font-size: 2.986rem;
    color: white;
}

h2 {
    font-size: 2.488rem;
    color: rgb(222, 222, 222);
}

h3 {
    font-size: 2.074rem;
    color: rgb(222, 222, 222);
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    color: rgb(186, 186, 186);
}

.small {
    font-size: 0.833rem;
}

.small-xs {
    font-size: 0.694rem;
}

/* END FONT PROPERTIES */

/* RULES: */

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100dvh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forma {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #e33333;
    animation: animacionForma 2.5s ease-in-out infinite;
}

svg path {
    animation: identifier 2s ease-in-out infinite .5s;
    stroke: #e33333;
}

@keyframes identifier {
    0% {
        d: path("M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18");
    }

    50% {
        d: path("M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3");
    }

    100% {
        d: path("M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18");
    }
}



@keyframes animacionForma {
    0% {
        border-radius: 100%;
    }

    25% {
        border-radius: 50%;
        background-color: #e33333;
    }

    50% {
        border-radius: 25%;
        background-color: #e333ae;
    }

    75% {
        border-radius: 50%;
        background-color: #e33333;
    }

    100% {
        border-radius: 100%;
    }
}
