/* BEGIN IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* END IMPORTS */

/* BEGIN CUSTOM PROPERTIES */

:root {
    --font-size-xs: 0.69rem;
    --font-size-sm: 0.83rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.44rem;
    --font-size-2xl: 1.73rem;
    --font-size-3xl: 2.07rem;
    --font-size-4xl: 2.49rem;
    --font-size-5xl: 2.99rem;

    --font-family-primary: "Maven Pro", sans-serif;
    --font-family-alternative: "Montserrat", sans-serif;

    --color-black: #1a1a1a;
    --color-grey: grey;
    --color-primary: #FF2023;
    --color-alternative: #D8B2C5;

  }

/* END CUSTOM PROPERTIES */

/* BEGIN UTILITIES */

.container {
	width: min(1250px, 80%);
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

/* END UTILITIES */

/* BEGIN BROWSER RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* END BROWSER RESET */


/* RULES: */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-black);
}

.card {
	width: 300px;
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	padding: .5rem;
	height: 55%;
	justify-content: space-between;
    color: grey;
    box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
}

.card__visual {
	height: 240px;
    position: relative;
}

.card__visual-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
}

.card__visual-button svg{
    width: 50%;
}

.card__visual-img {
	width: 100%;
	height: 100%;
}

.card__content {
    padding: 1rem;
    margin-bottom: 1rem;
}

.card__text {
    font-size: .75rem;
    margin: .25rem 0
}

.card__text--tag {
    font-size: .65rem;

}

.card__text--title {
    font-weight: bold;
    color: var(--color-black);
}

.avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.avatar__img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    object-fit: cover;
    object-position: right;
}

.avatar__text {
    font-size: .75rem;
    color: var(--color-black);
}

.avatar__text--bold {
    font-weight: bold;
}

header, footer {

    padding: 2rem;
    text-align: center;
    color: white;

}
