/* BEGIN IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* END IMPORTS */

/* BEGIN BROWSER RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* END BROWSER RESET */

/* BEGIN CUSTOM PROPERTIES */

:root  {

    /* Colors */
    --color-primary: #e33333;
    --color-secondary: #91e333;
    --color-background: #f1f1f1;
    --color-text: #1a1a1a;

    /* Font Size */
    --text-size-xs: 0.5rem;
    --text-size-sm: 0.71rem;
    --text-size-md: 1rem;
    --text-size-lg: 1.41rem;
    --text-size-xl: 2rem;
    --text-size-2xl: 2.83rem;
    --text-size-3xl: 4rem;
    --text-size-4xl: 5.65rem;
    --text-size-5xl: 7.99rem;

    /* Font Family */

    --font-primary: "Roboto Mono", monospace;
    --font-secondary: "Maven Pro", sans-serif;

}

.dark-theme {
    --color-background: #1a1a1a;
    --color-text: #f1f1f1;
}

/* END CUSTOM PROPERTIES */

/* BEGIN UTILITIES */

.container {
	max-width: 90%;
    margin: 10rem 5rem;
}

/* END UTILITIES */

/* BEGIN FONT PROPERTIES */

h1, h2, h3, h4, h5, h6, p, p.caption, p.note {
    overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

h1 {
    font-size: var(--text-size-5xl);
}

h2 {
    font-size: var(--text-size-4xl);
}

h3 {
    font-size: var(--text-size-3xl);
}

h4 {
    font-size: var(--text-size-2xl);
}

h5 {
    font-size: var(--text-size-xl);
}

h6 {
    font-size: var(--text-size-lg);
}

p {
    font-size: var(--text-size-md);
    font-family: var(--font-secondary);
}

.caption {
    font-size: var(--text-size-sm);
}

.note {
    font-size: var(--text-size-xs);
    color: grey;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

/* END FONT PROPERTIES */

/* RULES: */

body {
    background-color: var(--color-background);
    font-family: var(--font-primary);
    color: var(--color-text);
}

header, footer {
    background-color: var(--color-primary);
    height: .5rem;
}

div {
	padding: 2rem;
	border: 2px solid var(--color-text);
	margin: 2rem 0;
}

nav {
    display: flex;
    width: 50%;
    margin: 10rem auto;
    justify-content: center;
    gap: 1rem;
}

nav a {
	color: var(--color-primary);
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid var(--color-primary);
	width: 7.40rem;
	text-align: center;
	padding: 1rem;
	text-overflow: clip;
	overflow: hidden;
}

