@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #1a1a1a;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space Mono", monospace;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: rgb(201, 201, 201);
    text-transform: uppercase;
}

div.container {
    width: 900px;
    height: 900px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div.cajas {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
    gap: 1rem;
}

.boton {
    position: relative;
	border: 1px solid #e33333;
    padding: .25rem 1rem;
	border-radius: .75rem;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1rem;
    font-family: "Space Mono", monospace;
    background-color: #1a1a1a;
    /*border: 1px solid #e33333;*/
    color: white;
    cursor: pointer;
    box-shadow: 0px 0 16px #e33333;
}

#flipping {
    animation: flipping 4s ease-in-out infinite;
}

#loading {
    position: relative;
    overflow: hidden;
}

#loading::after {
	width: 0%;
	content: "";
    filter: drop-shadow(14px 0px 14px #e33333);
	background-color: #e33333;
	height: 150%;
	position: absolute;
    transform: translate(0%, 0%);
	top: 0;
	left: 0;
    animation: loading 2s ease-in-out infinite alternate;
}

#shining {
    position: relative;
    overflow: hidden;
}

#shining::after {
	width: 215px;
	content: "";
	transform: rotate(45deg);
	background: linear-gradient(0deg, rgba(255,0,0,0.6) 0%, rgba(255,255,255,0.2) 50%, rgba(191,0,0,0.5) 100%);
	display: block;
	/* height: 100%; */
	position: absolute;
	top: 0;
	left: -148px;
	height: 62px;
	animation: shining 1.25s linear infinite;
	filter: blur(10px);
}

#hacking {
    animation: glitch 1.25s linear infinite;
}

#partying {
    animation: pulse 1.25s linear infinite;

}

#rejecting {
    animation: shakes 2s linear infinite;
}

#glowing {
    animation: glowing 4s linear infinite;
}

#censoring {
    animation: censoring 4s linear infinite;
}

#tonyhawk {
    animation: tonyhwak 1s ease-in-out infinite alternate
}

@keyframes tonyhwak {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(900deg);
    }

    50% {
        transform: rotate(900deg);
    }

    85% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes censoring {
    0% {
        filter: blur(0px);
        transform: skew(0deg);
    }

    35% {
        filter: blur(15px);
        transform: skew(50deg);
    }

    55% {
        filter: blur(0px);
        transform: skew(0deg);
    }

    65% {
        filter: blur(0px);
        transform: skew(0deg);
    }

    70% {
        filter: blur(15px);
        transform: skew(50deg);
    }

    85% {
        filter: blur(18px);
        transform: skew(60deg);
    }

    100% {
        filter: blur(0px);
        transform: skew(0deg);
    }
}


@keyframes glowing {
    0% {
        box-shadow: 0px 0 6px #e33333;
    }

    10%{
        box-shadow: 0px 0 20px #e33333;
    }

    20% {
        box-shadow: 0px 0 6px #e33333;
    }

    30% {
        box-shadow: 0px 0 30px #e33333;
    }

    40% {
        box-shadow: 0px 0 6px #e33333;
    }

    50% {
        box-shadow: 0px 0 6px #e33333;
    }

    60% {
        box-shadow: 0px 0 60px #e33333;
    }

    65% {
        box-shadow: 0px 0 6px #e33333;
    }

    70% {
        box-shadow: 0px 0 60px #e33333;
    }

    75% {
        box-shadow: 0px 0 60px #e33333;
    }

    80% {
        box-shadow: 0px 0 50px #e33333;
    }
    

    90% {
        box-shadow: 0px 0 6px #e33333;
    }
    

    100% {
        box-shadow: 0px 0 6px #e33333;
    } 
}

@keyframes shakes {
    0% {
        transform: translateX(0);
    }

    10%{
        transform: translateX(20px);
    }

    20%{
        transform: translateX(0);
    }

    30% {
        transform: translateX(20px);
    }

    40% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0);
    }

    60% {
        transform: translateX(20px);
    }

    65% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(20px);
    }

    75% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(20px);
    }
    

    90% {
        transform: translateX(0);
    }
    

    100% {
        transform: translateX(0);
    }
    
}

@keyframes pulse {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(150%);
    }

    100% {
        transform: scale(100%);
    }
    
}

@keyframes shining {
    0% {
        left: -250px;
    }

    100% {
        left: 100px;
    }
    
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
    
}

@keyframes glitch {
    0% {
        transform: skew(0deg);
    }

    15% {
        transform: skew(30deg);

    }

    25% {
        transform: skew(85deg);
    }

    35% {
        transform: skew(0deg);
    }

    50% {
        transform: skew(-35deg);
    }

    55% {
        transform: skew(50deg);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes flipping {
    0% {
        transform: rotate3d(0, 1, 0, 0);
    }

    45% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    55% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 0);
    }
}
