* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

div {
    background-color: #e33333;
    width: 31.25rem;
    height: 31.25rem;
}
